@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

a {
  padding: 3px;
  font-weight:700;
  color: white;
  font-size:larger;
}

body {
  display: flex;
  place-items: center;
  background-image: url("./yosemite-1.jpg");
  background-size: cover;     /* Ensures the image covers the entire area */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

#app {
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
}
